# Основные библиотеки
pandas>=1.0.0  # Для работы с данными в табличном формате
numpy>=1.18.0  # Для числовых операций

# Для работы с базами данных
sqlite3  # Встроенная библиотека для работы с SQLite (если вы используете SQLite)
SQLAlchemy>=1.3.0  # Если вы планируете использовать ORM для работы с базами данных

# Для работы с архивами
rarfile>=4.0  # Для работы с RAR-архивами (если вы используете их)
zipfile  # Встроенная библиотека для работы с ZIP-архивами

# Для анализа данных
matplotlib>=3.0.0  # Если вы планируете визуализировать данные
seaborn>=0.10.0  # Для более сложной визуализации

# Для работы с логами
loguru>=0.5.0  # Удобная библиотека для работы с логами

# Дополнительно, если вы планируете тестирование
pytest>=6.0.0  # Для написания тестов

# Если вы используете Jupyter Notebook для анализа
jupyter>=1.0.0
